<!DOCTYPE html>
<html>
<head>
	<title>Student Form Fill-Up</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<br>
	<br>
	<center><h1 class="text-danger bg-info"><b>Student Form Fill-Up</b></h1></center>
<div class="container text-info">

	<form action="/stdformsaved">
		{% csrf_token %}
    <div class="form-group col-md-6">
      <label for="inputEmail4">Applicant Name:</label>
      <input type="text" class="form-control" required name="applicant_name" id="inputEmail4" placeholder="Applicant Name">
    </div>

 
  <div class="form-group col-md-6">
    <label for="inputAddress">Father's Name</label>
    <input type="text" class="form-control" required name="father_name" id="inputAddress" placeholder="Father's Name">
  </div>


  <div class="form-group col-md-6">
    <label for="inputAddress">Mother's Name</label>
    <input type="text" class="form-control" required name="mother_name" id="inputAddress" placeholder="Mother's Name">
  </div>


    <div class="form-group col-md-6">
    <label for="inputAddress">Phone Number</label>
    <input type="Phone" class="form-control" required name="phonenumber" id="inputAddress" placeholder="+880">
  </div>

 
  <div class="form-group col-md-6">
    <label for="inputAddress2">Date of barth</label>
    <input type="date" class="form-control" required name="dateofbirth" id="inputAddress2">
  </div>


  <div class="form-group col-md-6">
    <label for="inputAddress2">Address</label>
	<textarea class="form-control rounded-0" required name="address" id="exampleFormControlTextarea2" rows="2"
	placeholder="Address">
	</textarea>     
  </div>


    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="textarea" class="form-control" required name="city" id="inputCity" placeholder="City">
    </div>


    <div class="form-group col-md-4">
      <label for="inputState">Departmental Subject</label>
      <select id="inputState" name="departsubject" required class="form-control">
        <option selected>Science</option>
        <option>Artse</option>
        <option>Commerce</option>
      </select>
    </div>


&nbsp &nbsp &nbsp   
&nbsp &nbsp &nbsp   
&nbsp &nbsp &nbsp   
  

  <button type="submit" class="btn btn-success col-md-2">Save</button> &nbsp &nbsp &nbsp
  <button type="reset" class="btn btn-danger col-md-2">Reset</button>
</form>
</div>

<br>
<br>
&nbsp &nbsp &nbsp   
&nbsp &nbsp &nbsp   
&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp 
<a href="{{'/'}}" class="btn btn-warning btn-lg active" role="button" 
aria-pressed="true">Log_Up</a>

<br>
<br>
<br>
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>